body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.column-container {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  margin: 0 auto;
  width: fit-content;
  gap: 10px;
}

h2 {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  font-weight: 700;
}

.task {
  width: fit-content;
}

.completed, .available {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100vh - 60px);
  padding: 15px;
  padding-top: 0;
}

.completed .task {
  text-decoration: line-through;
}

.wrapper {
  border-radius: 20px;
  transition: filter 0.5s ease;
}

.wrapper[data-available] {
  border: 3px dotted rgb(247, 104, 104);
}

.wrapper[data-completed] {
  border: 3px dotted rgb(103, 235, 109);
}

.wrapper.dragover {
  filter: opacity(0.5);
}